@model HasaInputViewModel
@{ 

    

}

<table>
    <thead>
        <tr>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf" rowspan="4" height="166" align="left" valign="middle" bgcolor="#F0F0F0" sdnum="1033;1055;Standard"><b><font face="Calibri" size="4" color="#C00000">Grup Adı</font></b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf" rowspan="4" align="left" valign="middle" bgcolor="#F0F0F0" sdnum="1033;1055;Standard"><b><font face="Calibri" size="4" color="#C00000">Çeşit Adı</font></b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf" colspan="22" align="center" valign="middle" bgcolor="#F0F0F0" sdnum="1033;1055;Standard"><b><font face="Verdana" size="3" color="#C00000">@Model.Emteas.EmteaName</font></b></td>           
            <td align="left" valign="middle" bgcolor="#FFFFFF" sdnum="1033;1055;Standard"><b><font face="Calibri" color="#C00000"><br></font></b></td>
            <td align="left" bgcolor="#FFFFFF" sdnum="1033;1055;Standard"><font face="Calibri" color="#000000"><br></font></td>
            <td align="left" bgcolor="#FFFFFF" sdnum="1033;1055;Standard"><font face="Calibri" color="#000000"><br></font></td>
        </tr>
    </thead>
</table>